# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: quick-tests

on:
  push:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.11']

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        pip install -e .[test]  # coverage reports need -e to capture properly
    - name: Check with ruff
      run: |
        pip install ruff
        ruff format --check pori_python tests
    - name: Short Tests with pytest
      run: pytest --junitxml=junit/test-results-${{ matrix.python-version }}.xml --cov ipr --cov-report term --cov-report xml
      env:
        IPR_USER: ${{ secrets.IPR_TEST_USER }}
        IPR_PASS: ${{ secrets.IPR_TEST_PASSWORD }}
        IPR_URL: ${{ secrets.IPR_TEST_URL }}
        GRAPHKB_USER: ${{ secrets.GKB_TEST_USER }}
        GRAPHKB_PASS: ${{ secrets.GKB_TEST_PASS }}
        GRAPHKB_URL: ${{ secrets.GKB_TEST_URL }}
        EXCLUDE_INTEGRATION_TESTS: 1
        # EXCLUDE_INTEGRATION_TESTS: ${{ matrix.python-version != '3.11' }}
      if: github.event_name != 'pull_request'
